*{
    margin: 0;
    padding: 0;
}

:root{
    --Fnt-color: #323238;
    --btnBgnd-color: #E1E1E6;
    --btnActivedBgnd-color: #02799D;
    --bg-color: white;
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: clamp(5rem ,10vw,19.2rem);

    transition: background-color 300ms;
    background-color: var(--bg-color);
}

.timer{
    font-family: 'Roboto';
    font-size: 12.6rem;

    transition: color 300ms;
    color: var(--Fnt-color);
}

.time{
    display: flex;
    height: fit-content;
}

button:focus {
    outline: none;
}

.time_controls{
    display: flex;
    gap: 4rem;
    width: fit-content;
    margin: auto;
}

svg path{
    transition: fill 300ms;
    fill: var(--Fnt-color)
}

.time_controls button{
    background: none;
    border-style: none;
    cursor: pointer;
}

.sound_controls{
    min-width: clamp(27rem,20vw,30.8rem);
    min-height: clamp(27rem,21vw,33.6rem);
    display: grid;
    grid-template-areas: "A B" "C D";
    gap: 3.2rem;
}

.sound_controls button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;

    transition: background-color 300ms;
    background-color: var(--btnBgnd-color);
    border-style: none;
    border-radius: 2.4rem;
    cursor: pointer;
}

input[type="range"]{
    border-radius: 20rem;
    -webkit-appearance: none;
    width: 9rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;

    transition: background-color 300ms;
    background: var(--Fnt-color);
    height: 0.5rem;
    border-radius: 15rem;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 15rem;

    transition: background-color 300ms;
    background: var(--Fnt-color);
    cursor: pointer;
    margin-top: -0.55rem;
    }

.sound_controls .active{
    
    background-color: var(--btnActivedBgnd-color);
}

.sound_controls .active svg path{
    fill: white;
}

body .hidden{
    display: none;
}

 body .setLight, body .setDark{
    position: absolute;
    top: 6.4rem;
    right: 6.4rem;
    background: none;
    border-style: none;
    cursor: pointer;
}